.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 3, 12, 1) 6%, rgba(0, 5, 20, 1) 10%, rgba(0, 8, 31, 1) 15%, rgba(1, 14, 50, 1) 24%, rgba(2, 25, 86, 1) 42%, rgba(2, 29, 99, 1) 48%, rgba(2, 36, 110, 0.69) 65%, rgba(6, 60, 207, 1) 84%, rgba(1, 3, 8, 0.83) 99%);
}
